<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="
          width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">

    <script src="https://unpkg.com/bootstrap@5"></script>


</head>

<body class="container">

    <form class="cupcake-form">
        <label>Flavor
            <input name="flavor">
        </label>
        <label>Size
            <input name="size">
        </label>
        <label>Rating
            <input name="rating">
        </label>
        <label>Image URL
            <input name="image_url">
        </label>
        <button type="submit">Add Cupcake</button>
    </form>

</body>

</html>